html{
    font-size: 15px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container{
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
    max-width: 350px;
    background-color: white;
}


img{
    width: 320px;
    border-radius: 1em;
    margin-top: 1em;
}

.text{
    text-align: center;
    margin: 1em 2em 1.5em 2em;
}

.text p{
    color: hsl(220, 15%, 55%);
}

.text h1{
    color:hsl(218, 44%, 22%);
    font-size:1.5em;
}

.attribution{
    margin: 2em 0;
}